:root {
  --color-text-main: black;
  --color-text-accent: azure;
  --color-main: rgb(212,240,252);
  --color-accent1: rgb(2,169,247);
  --color-accent2: rgb(2,87,122);
  --color-accent-link-hover: rgb(78, 193, 247);
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(212,240,252);
}

section {
  position: relative;
  width: 90%;
  margin: 20px auto;
}

/************************************************************************/

.grid-container {
  display: grid;
  width: 100%;
  height: 3000px;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 2fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "nav"
  "home"
  "skills"
  "portfolio"
  "education"
  "contact";
}

/************************************************************************/

.nav {
  grid-area: nav;
  background-color: var(--color-accent2);
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: min(50px, 2vw);
}

.resume-btn {
  background-color: var(--color-accent1);
  border: none;
  border-radius: 15px;
  font-size: 1.25rem;
  padding: 15px;
  color: rgb(212,240,252);
}

.resume-btn:hover {
  background-color: rgb(100, 194, 238);
  cursor: pointer;
}

.nav-link {
  color: var(--color-accent1);
  font-size: 1.25rem;
  margin: auto 10px;
  text-decoration: none;
  padding: 30px 20px;
  text-align: center;
}

.nav-link:last-of-type {
  padding: 15px 20px;
}

.nav-link:hover {
  background-color: var(--color-accent-link-hover);
  color: var(--color-text-accent);
}

.hamburger-menu {
  display: none;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: space-around;
  margin: auto 10px auto 0;
  cursor: pointer;
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

.bar {
  background-color: #f0ffff;
  width: 100%;
  height: 7.5%;
}

@media only screen and (max-width: 1000px) {

  .grid-container {
      grid-template-rows: 0.3fr 3fr 1fr 1fr 1fr 1fr;
  }

  .nav {
      flex-direction: column-reverse;
      flex-wrap: nowrap;
      align-items: flex-end;
  }

  .nav-link {
      display: none;
      align-self: center;
  }

  .nav.active .nav-link {
      display: flex;
  }

  .hamburger-menu {
      padding: 21px 10px;
      display: flex;
      flex-wrap: wrap;
      margin-right: 25px;
  }
}

/************************************************************************/

.home {
  grid-area: home;
  background-color: rgb(137, 214, 251);
  box-shadow: 0 30px 40px rgba(0,0,0,0.15);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.home-text {
  width: 45%;
  min-width: 550px;
  text-align: center;
  margin: auto 0;
  padding: 25px 0;
}

h1 {
  font-size: 6em;
}

h2 {
  font-size: 40px;
  margin: 30px 0;
}

#name {
  font-size: 4em;
}

#title {
  font-size: 25px;
  font-style: italic;
}

#description {
  padding-top: 20px;
  font-size: 1.1em;
  max-width: 75%;
  margin: 0 auto;
  text-align: center;
}

.home-image {
  /* background-color: orange; */
  width: 45%;
  min-width: 550px;
  min-height: 450px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.home-image img {
  border-radius: 50%;
  width: clamp(100px, 75%, 550px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headshot-video {
  opacity: 0%;
  transition: opacity 0.5s ease-in-out;
}

#headshot-video:hover {
  opacity: 100%;
}

@media only screen and (max-width: 1680px) {
  h1 {
      font-size: 5em;
  }

  #name {
      font-size: 3em;
  }
}

@media only screen and (max-width: 1400px) {
  h1 {
      font-size: 4.5em;
  }
  
  #name {
      font-size: 3em;
  }
  
  #title {
      font-size: 20px;
      font-style: italic;
  }

  .home-text {
      width: 90%;
  }

  .home-image {
      width: 60%;
  }

  .home-image img {
      width: clamp(100px, 75%, 400px);
  }

  #headshot-video {
      opacity: 100%;
  }
}

/************************************************************************/

.skills {
  grid-area: skills;
  text-align: center;
  justify-self: center;
}

.skills .item {
  background-color: rgb(137, 214, 251);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
  border-radius: 50px;
  width: 340px;
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills .item-image {
  background-color: azure;
  border-radius: 20px;
  display: inline-block;
  width: 100px;
  height: 100px;
}

.skills .item-image img {
  width: 100%;
  border-radius: 50px;
}

.skills .item-text {
  width: 150px;
  padding-left: 15px;
  margin: auto 0;
}

.skills .item-name{
  font-size: 30px;
}

.skills .item-desc{
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

/************************************************************************/

.portfolio {
  grid-area: portfolio;
  text-align: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 125px;
  row-gap: 20px;
}

.portfolio .item {
  display: inline-block;
  width: 300px;
  padding: 20px 0;
}

.portfolio .item img {
  width: 300px;
}

.portfolio .item-name {
  text-align: center;
  font-size: 27px;
}

.portfolio .item-desc {
  text-align: justify;
  font-size: 16px;
}

/************************************************************************/

.education {
  grid-area: education;
  text-align: center;
}

.education .item {
  background-color:rgb(137, 214, 251);
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  border-radius: 50px;
  width: 60%;
  min-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.education .item-image {
  display: flex;
  justify-content: center;
  width: 40%;
  height: 200px;
}

.education .item-image img {
 /* aspect-ratio: 16/9; */
 width: 300px;
 max-width: 300px;
}

.education .item-text {
  width: 60%;
  min-width: 475px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.item-name{
  font-size: 25px;
  font-weight:700;
  text-align: left;
  margin-left: 10px;
}

.education .item-date{
  font-size: 14px;
  font-style: italic;
  text-align: left;
  margin-left: 10px;
  padding-bottom: 10px;
}

.education .item-desc{
  font-size: 16px;
  text-align: left;
  margin-left: 10px;
}

@media only screen and (max-width: 1466px) {

  .education .item-name{
      text-align: center;
      padding-bottom: 5px;
      margin-top: -20px;
  }
  
  .education .item-date{
      font-size: 1.1em;
      text-align: center;
      padding-bottom: 10px;
  }
  
  .education .item-desc{
      font-size: 1.2em;
      text-align: center;
      padding-bottom: 20px;
  }
}

/************************************************************************/

.contact {
  grid-area: contact;
  text-align: center;
}

.contact a {
  background-color: rgb(137, 214, 251);
  border-radius: 20px;
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 10px 20px 50px 20px;
}

.contact img {
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0,0,0,.3);
}

/************************************************************************/